.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: rgb(10, 11, 85);

    display: flex;
    align-items: center;
    justify-content: center;
}
.mainBody {
    background-color: #fbfbfb;
}
.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.semester-display-position {
    position: absolute;
    top: 800px;
    right: 300px;
    border: 1px solid #000;
    background-color: #f5f5f5;
    z-index: 10;
    padding: 100px;
    min-width: 150px;
    min-height: 150px;
}

.modifytheCreditsText {
    color: rgb(41, 113, 53);
    font-size: 20px;
    font-weight: bold;
    /* margin-left: 100px; */
}
.name {
    color: rgb(0, 5, 1);
    font-size: 25px;
}
.udlogo1 {
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    width: 1200px;
}
.courseSize {
    font-size: 24px;
}
.nameEntry {
    width: 30%;
    margin-top: 610px;
    margin-left: 350px;
}
.homepage {
    background-image: url(./pictures/udlogo2.jpg);
    min-height: 100vh;
    /* width: 195vb; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homebutton {
    background-color: rgb(55, 173, 179);
    margin-top: 610px;
    font-size: 35px;
    transition: font-size 200ms;
}
.homebutton:hover {
    background-color: #96c832;
    font-size: 55px;
}
.homepage2 {
    text-align: center;
}
.welcome {
    font-size: 55px;
    color: rgb(163, 180, 6);
}

.emeptySemester {
    font-size: 20px;
    transition: font-size 200ms;
}
.emeptySemester:hover {
    background-color: #0044ff;
    font-size: 20px;
}
.clear_button {
    background-color: #617dfb;
    font-size: 20px;
    transition: font-size 200ms;
}
.clear_button:hover {
    background-color: red;
    font-size: 30px;
}
.degreePrompt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.degreeSelect {
    width: 2500px;
}

.deleteEntireSemesterView {
    background-color: rgb(218, 225, 226) (0, 255, 157);
    transition: 200ms;
    font-size: 20px;
}
.deleteEntireSemesterView:hover {
    background-color: #ff0800;
    font-size: 20px;
}
.ConfirmNameView {
    transition: 200ms;
}
.ConfirmNameView:hover {
    font-size: 20px;
    background-color: #96c832;
}
.semester_box {
    border: 4px solid #000000;
    border-radius: 40px;
    padding: 100px;
    width: 550px;
    margin-left: 100px;
    margin-top: -50px;
}
.semesterListName-view {
    position: absolute; /* Set the position property to absolute */
    top: 1px;
}
.input__wrapper {
    margin: 20px;
    text-align: center;
}
.courseBar_box {
    border: 5px solid #000000;
    border-radius: 40px;
    padding: 100px;
    margin-bottom: 100px;
    width: 500px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 35px;
    margin-left: 10px;
}

.addcourseView {
    margin-right: 100px;
}

.searchBar {
    font-size: 32px;
    border-radius: 20px;
}
.searchBar:hover {
    font-size: 32px;
    background-color: rgb(136, 255, 0);
}
.editButtonInSwitch {
    margin-top: 10000px;
}
.searchMenu {
    /* border: 4px solid #000000; */
    border-radius: 8px;
    /* padding: 10px; */
    width: 330px;
    font-size: 32px;
    max-height: 300px;
    margin-left: 85px;
    overflow-y: auto;
    overflow-x: hidden;
}
.eachCourseinDropDown {
    border: 1px solid #000000;
}

.searchInput {
    width: 220px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-size: 30px;
    margin-left: 85px;
}
.eachCourseButton {
    font-size: 30px;
    width: 312px;
}
.eachCourseButton:hover {
    background-color: rgb(0, 174, 255);
}
.searchview {
    margin-bottom: 600px;
}
table {
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px 12px;
}

th {
    background-color: rgb(40, 151, 170);
    text-align: left;
}
.Pool_Titile {
    font-size: 35px;
    color: #333333;
    font-weight: 500;
}
.Coursepool {
    margin-left: -120px;
}
.coursePool_box {
    border: 4px solid #000000;
    border-radius: 40px;
    padding: 60px;
    margin-top: 240px;
}
.degreeplanTable {
    margin-right: 100px;
}
.addedCourseTopoolPropmt {
    font-size: 20px;
    color: rgba(8, 182, 46, 0.816);
}
.EditDegreePlanView {
    font-size: 25px;
    background-color: greenyellow;
    border-radius: 15px;
}
.EditDegreePlanView:hover {
    background-color: rgb(0, 174, 255);
}
.backTodegreeListView {
    background-color: rgb(0, 174, 255);
    font-size: 25px;
    border-radius: 15px;
}
.backTodegreeListView:hover {
    font-size: 26px;
}
.DegreeListTitle-view {
    font-size: 35px;
    font-weight: 500;
}
.warning-view {
    color: #ff0800;
}
.bottom-view {
    background-color: #918888;
    display: flex;
    justify-content: center;
    height: 60px;
}
.degreeListBox {
    border: 4px solid #000000;
    border-radius: 40px;
    padding: 100px;
    width: 550px;
    margin-left: 100px;
}
.concentrationBox {
    border: 4px solid #000000;
    border-radius: 40px;
    padding: 100px;
    width: 550px;
    margin-left: 100px;
}
.classgo-view {
    background-image: url(./pictures/udlogo2.jpg);
}
