.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: rgb(10, 11, 85);

    display: flex;
    align-items: center;
    justify-content: center;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.semester-display-position {
    position: absolute;
    top: 800px;
    right: 300px;
    border: 1px solid #000;
    background-color: #f5f5f5;
    z-index: 10;
    padding: 100px;
    min-width: 150px;
    min-height: 150px;
}

.modifytheCreditsText {
    color: rgb(41, 113, 53);
    font-size: 30px;
    font-weight: bold;
}
.name {
    color: rgb(0, 5, 1);
    font-size: 25px;
}
.udlogo1 {
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    width: 1200px;
}
.courseSize {
    font-size: 24px;
}
.nameEntry {
    width: 30%;
    margin: auto;
}
.homepage {
    background-image: url(./pictures/udlogo2.jpg);
    min-height: 100vh;
    /* width: 195vb; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homebutton {
    background-color: rgb(55, 173, 179);
    margin-top: 610px;
    font-size: 35px;
    transition: font-size 200ms;
}
.homebutton:hover {
    background-color: #96c832;
    font-size: 55px;
}
.homepage2 {
    text-align: center;
}
.welcome {
    font-size: 55px;
    color: rgb(163, 180, 6);
}

.emeptySemester {
    font-size: 20px;
    transition: font-size 200ms;
}
.emeptySemester:hover {
    background-color: #0044ff;
    font-size: 20px;
}
.clear_button {
    background-color: #617dfb;
    font-size: 20px;
    transition: font-size 200ms;
}
.clear_button:hover {
    background-color: red;
    font-size: 30px;
}
.degreePrompt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.degreeSelect {
    width: 2500px;
}

.deleteEntireSemesterView {
    background-color: rgb(218, 225, 226) (0, 255, 157);
    transition: 200ms;
    font-size: 20px;
}
.deleteEntireSemesterView:hover {
    background-color: #ff0800;
    font-size: 20px;
}
.ConfirmNameView {
    transition: 200ms;
}
.ConfirmNameView:hover {
    font-size: 20px;
    background-color: #96c832;
}
.semester_box {
    border: 4px solid #000000;
    border-radius: 40px;
    padding: 100px;
    margin-bottom: 100px;
    width: 550px;
}
.semesterListName-view {
    position: absolute; /* Set the position property to absolute */
    top: 1px;
}
.input__wrapper {
    margin: 20px;
    text-align: center;
}
.coursePool_box {
    border: 5px solid #000000;
    border-radius: 40px;
    padding: 100px;
    margin-bottom: 100px;
    width: 500px;
    font-size: 18px;
    font-weight: 500;
}

.addcourseView {
    margin-right: 100px;
}
.SwichButton {
    margin-right: 100px;
    background-color: rgb(136, 255, 0);
    font-size: 20px;
}
.SwichButton:hover {
    font-size: 25px;
}
.searchBar {
    font-size: 20px;
    border-radius: 20px;
}
.searchBar:hover {
    font-size: 20px;
    background-color: rgb(136, 255, 0);
}
.editButtonInSwitch {
    margin-top: 10000px;
}
.searchMenu {
    margin-left: 100px;
    /* border: 4px solid #000000; */
    border-radius: 8px;
    margin-bottom: 100px;
    /* padding: 10px; */
    width: 380px;
    font-size: 32px;
    max-height: 500px;
    overflow-y: auto;
}
.eachCourseinDropDown {
    border: 1px solid #000000;
}

.searchInput {
    width: 300px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-size: 30px;
}
.eachCourseButton {
    font-size: 30px;
}
.eachCourseButton:hover {
    background-color: rgb(0, 174, 255);
}
.WholeSearch {
    margin-bottom: 600px;
}
